@import 'sass-bem/bem';

@import '../../base/common/var';

@include component('product-card', 'ux') {
  @include element('title') {
    margin-bottom: 2px;
    color: $heading-color;
    font-size: $font-size-base;
  }

  @include element('desc') {
    margin-bottom: 2px;
    color: $text-color;
    font-size: $font-size-sm;
    font-weight: bold;
    letter-spacing: 1px;
  }

  @include element('meta') {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @include element('num') {
    font-size: $font-size-sm;
    color: $text-color-secondary;
  }

  // 覆盖
  @include component('card', 'ux') {
    @include element('body') {
      padding-top: 6px;
      padding-bottom: 6px;
    }
  }

  @include component('card', 'van') {
    @include element('price') {
      color: #ee0a24;
    }
  }
}
