@import 'sass-bem/bem';

@include component('product-slider', 'ux') {
  background-color: #fff;

  @include element('indicator') {
    position: absolute;
    right: 0;
    bottom: 15px;
    padding: 0 10px;
    height: 20px;
    line-height: 20px;
    font-size: 9px;
    letter-spacing: 2px;
    color: #fff;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px 0 0 10px;

    span {
      font-size: 14px;
    }
  }
}

@include component('product', 'ux') {
  background-color: #fff;
  padding: 0 18px 12px;

  @include element(('price-wrap', 'title-wrap')) {
    display: flex;
    justify-content: space-between;
  }

  @include element('price-wrap') {
    padding-top: 12px;
  }

  @include element('title-wrap') {
    position: relative;
    line-height: 20px;
    font-size: 12px;
    padding-top: 12px;
    overflow: hidden;
  }

  @include element('title') {
    position: relative;
    color: #262626;
    font-size: 16px;
    font-weight: 700;
    overflow: hidden;
  }

  @include element('desc') {
    padding-top: 18px;
    line-height: 1.3;
    font-size: 12px;
  }
}
